@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab&display=swap');

*{
    font-family: 'Poppins' , sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}
.landing-container {
    margin-top: 100px;
}
.landing-container h1{
    font-family: "Arbutus Slab", serif;
    font-weight: 400;
    text-align: center;
    font-size: 60px;
}
#search {
    width: 670px;
    height: 70px;
    border-radius: 20px;
    margin: 50px auto 70px auto;
    display: block;
    outline: none;
}
.searchcont{
    position: relative;
    width: 670px;
    margin: 50px auto 70px auto;
    
}
#search-icon {
    position: absolute;
    top: 50%;
    right: 20px; 
    transform: translateY(-50%);
    color: #aaa; /* Adjust color as needed */
    pointer-events: none; /* Allow clicks to pass through to the input */
    font-size: 24px; 
}
#search::placeholder {
    text-indent: 10px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 0 50px;
}

.gallery a {
    position: relative;
    text-decoration: none;
    color: inherit;
    display: block;
    
    
}

.gallery a  :hover{
    transform: scale(0.95);
    
}
.gallery a img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    display: block;
    
}
.gallery .gallery-item {
    position: relative;
}

.gallery  label {
    font-size: 20px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}


@media (max-width: 1200px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 900px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .gallery {
        grid-template-columns: 1fr;
    }
}