<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

    <title>Spot Seeker</title>
</head>
<body>

    <footer> 
        <nav class="navigation2">
            <a href="#Contact">Contact Us</a>
            <a href="#About">About</a>
            <a href="#" class="profile-icon"><i class="glyphicon-copyright-mark"></i></a>
        </nav>
       
    </footer>
  
</body>
</html>