<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

    <title>Spot Seeker</title>
</head>
<body>

    <header> 
        
        <a href="#" class="logo">
            <img src="C:\Users\Gigabiyte\Downloads\logo.png" alt="Logo"></a>
        <nav class="navigation1">
            <a href="#Explore">Explore</a>
            <a href="#About">About</a>
            <a href="#Language">עבר</a>
            <a href="#" class="profile-icon"><i class="fas fa-user-alt"></i></a>
        </nav>
       
    </header>
  
</body>
</html>