@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins' , sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

.content2{
    background-color: rgba(255, 255, 255, 0.6); 
    border: 2px solid black; 
    border-radius: 10px; 
    padding: 20px; 
    margin: 30px auto; 
    width: 1406px;
    height:auto ;
    
    background-image: 
    url('/public/Image/tourist.png'),
    url('/public/Image/map.png'),
    url('/public/Image/camera.png');
    
    background-position: 
    10px 20px,   /* Adjust top left image position */
    calc(100% - 20px) 20px,   /* Adjust top right image position */
    10px calc(100% - 10px);   /* Adjust bottom left image position */

    background-size: 
    120px auto,
    140px auto,
    120px auto;
    background-repeat: no-repeat;
}

.about-container{
    width: 1200px;
    margin-left: 50px;
}

.about-container h1{
    margin-left: 100px;
    font-weight: 500;
    font-size: 50px;
}
.about-container h4{
    margin-bottom: 10px;
}

.form-field5 {
    margin-left: 100px;
    margin-bottom: 50px;
}
.form-field5 h4 {
    font-weight: 600;
    font-size: 25px;
}
.form-field5 p {
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
}