@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins' , sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}

.main video{
    width: 1600px;
}

.home_containor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  }
.home_containor a{
    display: block;
    background-color: rgba(18, 13, 13, 0.3);
    color: aliceblue;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    font-size: 40px;
    width: 500px;
    margin-left: 180px;
margin-top: 5px;
   
}
.home_containor h1 {
   
    font-weight: 700;
    font-size: 50px;
    color: rgb(255, 255, 255); 
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.6);
   
  }