@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins' , sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}


.square{
    background-image: url("/public/Image/RegisterPhoto.jpg"); 
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
    background-position-y: center;
    height: 700px;  
    margin-top: 50px;

}

.register-container{
   
    width: 520px;
    background: rgba(255, 255, 255, 0.4);
    background-position: center;
    border-radius:10px ;

    position: absolute; 
    top: 200px; 
    left: 50%; 
    transform: translateX(-50%); 


}

.register-container h1 {
    text-align: left;
    font-weight: 400;
    margin-left: 10px ;
   
}

.register-container p {
    text-align: left;
    font-size: 11px;
    margin: 1px 10px;
}
.register-container .form-field   {

    display: flex;
    
    justify-content: flex-start;
    margin-bottom: 4px;
    

}

.register-container .form-field label {
    font-size: 16px;
    text-align: start;
    margin-left:10px ;
    margin-right: 8px;
    margin-top: 25px;
}

.register-container .form-field input  {
    
    
    height: 30px;
    margin-top:23px;
    background: transparent;
    border: 1px solid #000000;
    border-radius: 7px;
    

}
#lastname  {
    width: 300px;
}
#name{
    width: 300px;
}
#email{
    width: 270px;
}
#password{
    width: 310px;
}
#confirmpassword{
    width: 240px;
    margin-bottom: 10px;
}


.button-container {
    text-align: left;
    margin-left:  10px; 
    margin-bottom: 20px;
}
.button-container button {
    background: #000000;
    color: white;
    border-radius: 20px;
    height: 40px;
    width: 170px;
    border-color: #000000;
    margin-left:  10px; 
    margin-top: 20px;
    margin-bottom: 20px;
}


