@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins' , sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}

.main video{
    margin-top: 0px;
    width: 1500px;
}

.home_containor {
    width: 1000px;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  }

.home_containor a{
    display: block;
    background-color: rgba(18, 13, 13, 0.7);
    color: aliceblue;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    font-size: 35px;
    width: 300px;
    margin-left: 350px;
    margin-top: 15px;
    
   
}
i{
    font-style: normal;
    font-size: 25px;

}

.home_containor h1 {
   
    font-weight: 900;
    line-height: 150px;
    font-size: 80px;
    color: rgb(255, 255, 255); 
    text-shadow: 5px 5px 30px rgba(0, 0, 0, 0.9);
   
  }